body {
	background-color: black; 
}

#clock{
	font-family: 'Ubuntu Mono', monospace;
	font-size: 120px;
	color: white;
	text-align: center; 
	margin-top: 300px;
}

@media (max-width: 932px){
	#clock{
		font-size: 80px; 
	}
}

@media (max-width: 658px){
	#clock{
		font-size: 60px;
	}
}

